body{
    background-color: #F8F7F3;
}

.container{
    background-color: #F8F7F3;
}

h1{
    color: #BC9E82;
}

.delete{
    color: red;
}

.edit{
    background-color: #3D426B;
    color: #F8F7F3;
}

.detail{
    background-color: #3D426B;
    color: #F8F7F3;
}

.success{
    background-color: #014D18;
    color: #F8F7F3;
}