body{
    background-color: #F8F7F3;
}

.container{
    background-color: #F8F7F3;
}

h1{
    color: #BC9E82;
}

label{
    color: #221D14
}

.sbmt{
    background-color: #3D426B;
    color: #F8F7F3;
}