<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>Update Form | Department</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/landingpage.css}">
</head>

<body>
    <div class="container">
        <h1 class="fw-bold">Let me correct your your department identity...</h1>
        <form th:action="@{/department/{id} (id = ${department.id}) }" th:method="PUT" th:object="${department}">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label><br>
                <select class = "form-select mb-5" th:field="*{location.id}" id="location">
                    <option value="0" disable selected>Select a location..</option>
                    <option th:each="location: ${locations}" th:value="${location.id}" th:text="${location.city}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="manager" class="form-label">Manager</label><br>
                <select class = "form-select mb" th:field="*{manager.id}" id="manager">
                    <option value="0" disable selected>Select a manager..</option>
                    <option th:each="manager: ${managers}" th:value="${manager.id}" th:text="${manager.first_name}"></option>
                </select>
            </div>
            <a class="btn" th:href="@{/department}">Back</a>
            <button type="submit" class="btn detail">Submit</button>
        </form>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>